MONGODB_URI=

PORT=3000

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=default
REDIS_PASSWORD= 
REDIS_TLS_ENABLED=false

OPEN_WEATHER_API_KEY=

//It is an open API key no need of any auth
BBCI_API_KEY=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv

RATE_LIMIT_ENABLED=true
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

WEATHER_CACHE_TTL=600
CITY_SEARCH_CACHE_TTL=43200