MONGODB_URI=

PORT=3000

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD= 

OPEN_WEATHER_API_KEY=

GEO_APIFY_API_KEY=

RATE_LIMIT_ENABLED=true
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

WEATHER_CACHE_TTL=600
CITY_SEARCH_CACHE_TTL=43200